extends ../shared/template
block content
  h2 Treasures
  .row
    .col-xs-12
      #map
  .row
    .col-xs-12
      table.table.table-striped.table-hover.table-responsive
        thead
          tr
            th Name
            th Location
            th Difficulty
            th Found
        tbody
          each treasure in treasures
            tr(data-name= treasure.loc.name, data-lat= treasure.loc.lat, lng= treasure.loc.lng)
              td: a(href='treasures/#{treasure._id}') #{treasure.name}
              td= treasure.loc.name
              td= treasure.difficulty
              td= treasure.found


block scripts
  script(src='/js/user/index-treasures.js')
